<div class="main-content">
    <script src="framework/dist/echarts-all.js"></script>
	<div class="page-content" ng-controller="chartsCtrl">
		
		<!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="page-header">
					<button ng-click="chartInit()" class="btn btn-purple">
							<i class="icon-refresh bigger-230"></i>	生成统计图表
					</button>
				</div>
				<div class="clearfix">
					<div class="space-20"></div>
					<div class="container">
						<div class="row">
 							 <div id="main" style="height:400px;"></div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-content -->