<!-- START panel-->
<div id="panelCharts" class="panel">
	<div ng-class="{'panel-heading-collapsed':panelCharts}" class="panel-heading">条件筛选
        <paneltool tool-collapse="tool-collapse"></paneltool>
    </div>
    <div collapse="panelCharts" class="panel-wrapper">
         
	<div class="panel-body">
		<form method="get" action="/" class="form-horizontal" class="form-horizontal" ng-controller="ChartFormCtrl as form">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-1 control-label">时间区间:</label>
					<div class="col-sm-3">
						<a class="btn btn-default" ui-sref="app.home" role="button">本月</a>
						<a class="btn btn-default" ui-sref="app.home" role="button">上月</a>
					</div>
					<div class="col-sm-2">
						<p class="input-group">
							<input type="text" name="date" required="" datepicker-popup="{{form.format}}" ng-model="form.datestart" is-open="form.opened1" max-date="'2019-12-22'" datepicker-options="form.dateOptions" close-text="Close" class="form-control" placeholder="起始时间" />
							<span class="input-group-btn">
			                 <button type="button" ng-click="form.openstart($event)" class="btn btn-default">
			                 <em class="fa fa-calendar"></em>
			                 </button>
			              </span>
						</p>
					</div>
					<div class="col-sm-2">
						<p class="input-group">
							<input type="text" name="date" required="" datepicker-popup="{{form.format}}" ng-model="form.dateend" is-open="form.opened2" max-date="'2019-12-22'" datepicker-options="form.dateOptions" close-text="Close" class="form-control" placeholder="结束时间" />
							<span class="input-group-btn">
			                 <button type="button" ng-click="form.openend($event)" class="btn btn-default">
			                 <em class="fa fa-calendar"></em>
			                 </button>
			              </span>
						</p>
					</div>
					<label class="col-sm-1 control-label">时间密度:</label>
					<div class="col-sm-3">
						<slider ng-model="form.slider1" min="0" max="100" step="10" orientation="horizontal" class="bs-slider slider-horizontal"></slider>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-1 control-label"> 金额区间:</label>
					<div class="col-sm-3">
						<select name="account" class="form-control">
							<option>0-100</option>
							<option>0-300</option>
							<option>0-500</option>
							<option>500以上</option>
						</select>
					</div>
					<label class="col-sm-1 control-label">其他</label>
					<div class="col-sm-3">
						<div class="row">
						<div class="col-sm-4">						
							<input type="text" class="form-control" placeholder="0" />
						</div>
						<label class="col-sm-1 control-label">-</label>
						<div class="col-sm-4">						
							<input type="text" class="form-control" placeholder="100" />
						</div>
						</div>
					</div>		
					<label class="col-sm-1 control-label">金额密度:</label>
					<div class="col-sm-3">
						<slider ng-model="form.slider2" min="0" max="100" step="10" orientation="horizontal" class="bs-slider slider-horizontal"></slider>
					</div>
				
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-1 control-label"> 图表样式:</label>
					<div class="col-sm-3">
						测试代码-----当前表单名称：{{form.formName}}
					</div>
			
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<div class="col-sm-1">
						<button type="button" class="mb-sm btn btn-primary" ng-click="form.generateChart()">生成图表</button>
					</div>
					<div class="col-sm-1">
						<a class=" btn btn-sm btn-default" ng-click="form.reset()">重置</a>
					</div>

				</div>
			</fieldset>
		</form>
	</div>
 
    </div>
    
</div>
<!-- END panel-->

<div id="panelCharts" class="panel">
	<div class="panel-body">
		<div id="echartsBox" style="height:600px;"></div>
	</div>
</div>