 <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
 <script src="vendor/echarts/echarts-all.js"></script>
 <form class="form-inline">
	<div class="form-group">
		<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
		<div class="input-group input-group-sm">
			<div class="input-group-addon">金额区间</div>
			<input type="text" class="form-control" id="exampleInputAmount" placeholder="0-100">
		</div>
		<div class="input-group input-group-sm">
					<span class="input-group-addon"><i class="icon-calendar"></i> 起始时间</span>
					<input type="text" id="datepicker" class="form-control" />
					<span class="input-group-addon"><i class="icon-calendar"></i> 结束时间</span>
					<input type="text" id="datepicker" class="form-control" />
		</div>
	</div>
</form>


<div class="row">
 		<div id="main" style="height:400px;"></div>
</div>

